body {
  margin: 0px;
  padding: 0px;
}
.material-icons {
  display: inline !important;
}
.section#section-form {
  margin: 15px 0;
}
.section__title {
  margin: 15px 0;
}
.carousel {
  height: 480px;
  position: relative;
}
.carousel__arrows {
  width: 60px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  display: flex;
  z-index: 1;
}
.carousel__arrows.arrow_prev {
  left: 0;
}
.carousel__arrows.arrow_next {
  right: 0;
}
.carousel__arrows i {
  font-size: 50px;
}
.carousel__item {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.carousel__picture {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 480px;
}
.carousel__info {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 32px;
  max-height: 480px;
  position: absolute;
  bottom: 0;
}
.carousel__likes {
  line-height: 2;
}
.carousel__like {
  color: #cc0000;
  vertical-align: middle;
}
.carousel__description p {
  padding: 15px;
  margin: 0;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url("../images/loader.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px 45px;
}
.map__container {
  width: 100%;
  height: 480px;
}
/*# sourceMappingURL=style.css.map */