.carousel {
  height: @carousel-size-mb;
  position: relative;

  &__arrows {
    width: @carousel-arrows-width;
    height: 100%;
    background-color: @carousel-arrows-color;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 1;
    &.arrow {
      &_prev {
        left: 0;
      }
      &_next {
        right: 0;
      }
    }
    i {
      font-size: 50px;
    }
  }

  &__item {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  &__picture {
    width: 100%;
    height: 100%;
    max-width: @carousel-size-mb;
    max-height: @carousel-size-mb;
  }

  &__info {
    background-color: @background-likes;
    width: 100%;
    height: 32px;
    max-height: @carousel-size-mb;
    position: absolute;
    bottom: 0;
  }

  &__likes {
    line-height: 2;
  }

  &__like {
    color: @color-red;
    vertical-align: middle;
  }

  &__like_count {}

  &__description {
    p {
      padding: 15px;
      margin: 0;
    }
  }
}