.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: @loader-overlap;
  background-image: url("../images/loader.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px 45px;
}