// COLORS
@color-white: rgb(256, 256, 256);
@color-red: rgb(204, 0, 0);

@background-likes: rgba(@color-white, .8);

// CAROUSEL
@carousel-size-mb: 480px;
@carousel-arrows-width: 60px;
@carousel-arrows-color: rgba(@color-white, .8);

// LOADER
@loader-overlap: rgba(@color-white, .4);

// MAP
@map-height: 480px;